QLabel {
    font-size: 12pt;
    font-family: Arial, serif;
    color: rgb(0, 0, 0)
}

QWidget{
    background-color: rgb(253, 253, 253);
}

QComboBox{
    selection-background-color: rgb(170, 170, 255);
    color: rgb(0, 0, 0)
}


QPushButton {
    font-size: 12pt;
    font-family: Arial, serif;
    color: rgb(0, 0, 0)
}

QPushButton:hover {
    background-color: rgb(209, 209, 239);
}

QDoubleSpinBox{
    font-size: 12pt;
    font-family: Arial, serif;
    color: rgb(0, 0, 0)
}

QSpinBox{
    font-size: 12pt;
    font-family: Arial, serif;
    color: rgb(0, 0, 0)
}

QCheckBox{
    color: rgb(0, 0, 0)
}


QSlider:handle:horizontal {
    background: rgb(170, 170, 255);
    border: 10px solid rgb(170, 170, 255);
    width: 80px;
    height: 80px;
}

